[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-hitcount = "*"
django = "==4.0"
django-ckeditor = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
