{%extends 'news/base.html'%}
{%load static%}
{%block title%}Contact us{%endblock title%}

{%block content%}
        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->


        <!-- Contact Us Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="bg-light rounded p-5">
                    <div class="row g-4">
                        <div class="col-lg-5">
                            <div class="">
                                <h1 class="mb-4">Umumiy mijozlarga xizmat va texnik yordam</h1>
                                <!-- <p class="mb-4">“Aloqa formasi hozircha faol emas. Bir necha daqiqada Ajax va PHP yordamida ishlaydigan to‘liq funksional aloqa formasini oling. Faqat fayllarni nusxalab joylashtiring, biroz kod qo‘shing va tayyor. Hozir yuklab oling.” ✅</a>.</p> -->
                                <div class="rounded">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2396.8413738404793!2d65.7169836317964!3d38.82515850181699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suz!2s!4v1759811383623!5m2!1suz!2s" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <form action="" class="mb-4" method="post">{% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-lg-6">
                                        <input type="text" class="w-100 form-control border-0 py-3" name="name" placeholder="Your Name">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="email" class="w-100 form-control border-0 py-3" name="email" placeholder="Enter Your Email">
                                    </div>
                                    
                                    <div class="col-12">
                                        <textarea class="w-100 form-control border-0" rows="6" cols="10" name="message" placeholder="Your Message"></textarea>
                                        
                                    </div>
                                    <div class="col-12">
                                        <button class="w-100 btn btn-primary form-control py-3" type="submit">Submit Now</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row g-4">
                                <div class="col-xl-6">
                                    <div class="d-flex p-4 rounded bg-white">
                                        <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                                        <div>
                                            <h4>Address</h4>
                                            <p class="mb-0">Surkhandarya,Termiz</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="d-flex p-4 rounded bg-white">
                                        <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                                        <div>
                                            <h4>Mail Us</h4>
                                            <p class="mb-0">shahzodbekomondavlatov
                                                77@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="d-flex p-4 rounded bg-white">
                                        <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                                        <div>
                                            <h4>Telefon Raqami</h4>
                                            <p class="mb-0">(+998) 91 982 76 07</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="d-flex p-4 rounded bg-white">
                                        <i class="fa fa-share-alt fa-2x text-primary me-4"></i>
                                        <div>
                                            <h4>Share</h4>
                                            <div class="d-flex">
                                                <a class="me-3" href="https://www.instagram.com/janob_hechkim64/"><i class="fab fa-instagram text-dark link-hover"></i></a>
                                                <a class="me-3" href="https://www.facebook.com/shahzod.omondavlatov"><i class="fab fa-facebook-f text-dark link-hover"></i></a>
                                                <a class="me-3" href="https://www.youtube.com/@shahzodbekomondavlatov142"><i class="fab fa-youtube text-dark link-hover"></i></a>
                                                <a class="me-3" href="https://t.me/users625"><i class="fab fa-telegram text-dark link-hover"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Us End -->
        
{%endblock content%}        
